<!DOCTYPE html>
<html lang="">
<head>
    <title>THYNK Verification Email</title></head>
<body>
    <div style=" display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <h3> Account Verification </h3>
        <br>
        <p>Thanks for choosing THYNK ULIMITED, please
        click on the link below to verify your account</p> 

        <a style=" padding: 1rem; border-radius: 0.5rem; font-size: 1rem; text-decoration: none; background: #0275d8; color: white;"
           href="{{ verify_link }}"
            target="_blank"
           >
            Verify Account
        </a>

        <h4>If you did not register for THYNK,
        please kindly ignore this email and nothing will happen. Thanks</h4>
    </div>
</body>
</html>